.profile__info {
    max-width: 336px;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 16px;
}

@media screen and (max-width: 878px) {
    .profile__info {
        max-width: 282px;
        /* margin-left: 19px;
        margin-right: 19px; */
        padding: 0;
        padding-top: 22.25px;
        margin: 0;
    }
}