.popup {
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    z-index: 1;
    background-color: rgba(0, 0, 0, .5);
    transition: visibility 0.2s linear, opacity 0.2s linear;
    position: fixed;
    inset: 0;
    visibility: hidden;
}